@import "./../../assets/scss/wap";
.piclist{
  height:auto;
  overflow: hidden;
  text-align: center;
  .iBox{
    width:169px;
    height:169px;
    overflow: hidden;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    img{
      width:100%;
      height: 100%;
      vertical-align: top;
      &:hover,&:active{
        border:2px solid #3c3c3c;
        cursor: pointer;
      }
    }
  }

}
.more{
  height:auto;
  overflow: hidden;
  font:14px/30px $f-yahei;
  background: #eeeeee;
  color: #3c3c3c;
  text-align: center;
  cursor: pointer;
}
