@import "../../../assets/scss/wap";


.loginBox{
  width: 100%;
  height:100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 125px 40px 0;
  background: #383a4c;
  margin: 0;
  .l{
    width: 63%;
    overflow: hidden;
    display: inline-block;
    height:100%;
    float: left;
    box-sizing: border-box;


  }
  .r{
    width:32%;
    height:100%;
    display: inline-block;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    .login-form{
      width: 260px;
      overflow: hidden;
      height:auto;
      label{
        color: #a1a3a0;
      }
      .btn{
        width:100%;
        background: #64a0d7;
      }
      .forgetBtn{
        width: 100%;
        text-align: right;
      }
    }
  }
}



