@import "indexCommon";
.allBox{
  height:100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .listBox{
    height:auto;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    .ulBox{
      height:auto;
      overflow: hidden;
      overflow-y: scroll;
      ul.list{
        li{
          height:auto;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          border-bottom: 1px dotted #333;
          .iBox{
            width:100px;
            height:100px;
            overflow: hidden;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            &:hover,&:active{
              background: #cccccc;
              cursor: pointer;
            }
            img{
              width:100%;
              height:100%;
              vertical-align: top;
            }
          }
          .cListBox{
            height: auto;
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: row;
            .lBox{
              height:auto;
              overflow: hidden;
              flex:1;
              a{
                color: #000;
              }
            }
            .rBox{
              height:auto;
              overflow: hidden;
              display: inline-block;
              margin-left: 10px;
              font:14px/26px $f-yahei;
              color: #3c3c3c;
              padding: 10px 0;
              a{
                text-decoration: none;
                color: #3c3c3c;
              }
            }
          }
        }
      }
    }

    .noData,.nextlist{
      height:auto;
      overflow: hidden;
      box-sizing: border-box;
      font:12px/18px $f-yahei;
      background: #f1f1f1;
      color: #333333;
      padding: 16px 10px;
      text-align: center;
    }
    .nextlist{
      cursor: pointer;
    }
  }
}

