@import "../../assets/scss/wap";
html,body{
  width:100%;
  height:100%;
}
#loadingAdd{
  position: fixed;
  width:rem(200);
  height:rem(200);
  border-radius: rem(10);
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items:center;
  left:50%;
  top:50%;
  margin-left: rem(-100);
  margin-top:rem(-150);
  z-index: 99999999;
  span{
    width:rem(64);
    height:rem(64);
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAJoUlEQVR4Xu1bvW8TWxa/Z/yBaCAUBFHEsSWCBArapCDhFQuZKmnA44YIrVYba7Elqpf8BRv/BSRVJHuf7LzVKoTGGSgg1dhs8UIokigIpLhIHAqEKEigQPjrrI6x8zwz986Mx3nO09ObMrlf53fP/Z3fueca2Al8nz596imXy/9ijE0h4oEkSZnz588nTmApDE5i0g8fPqwAQNgw93xvb+90t9fTdQAau/+JZ2hvb2/X19P1CT9+/DiGiNofAoB3796RMf9gjB0AgNrX15ezc+HjACCVStXnBYADxpgai8Vs5xWty7UH7O/vTzHG0oaBo4FAIGMFQqcAJJPJKQDQzQsAkfv376/Ygc/7v2sAisUi7frZ1kGJ0c+cORM6d+4c7Qz36wSAhYWFoNfr3TUOjIh78Xg81DUAGq7PPccAMN/X1ydk804ASCaTOQC4xTM0Fou52kxXnWgBPA9oLszn84UuXry4x1uoWwDo3DPGuKDTcmKxWLBrHtAAYBYASMzwvlwgEJCPGQACtF8w30wsFpvrKgAUzz9//rxn5IGWRUQCgYCJmNx4QCqVoiP1kGcgIm7F4/EhN8ZTH9dHgDoLIkF9LURM/f39JmJqF4B0Ot1TqVSI+HoERsonEgabi9nf399kjP1FsDuJ/v7+2db/tQtAMpmcA4AfBcaTBlDc7n7HHkADWEUEXli0kMKHvb29ul1OJpNDALAhMrBSqYQePHjAJVunoHCPwM7ODk181uv1boVCIWFMb/ECEj+kCE0fLyzykiFETFy4cEHnLalUijjEmDQ150jEYjFde+Pk6WRyCBk7Cz7fVjQa5dphAqBQKBgnnfV6vfNWQLx//z5YKpU2BYS4FQgEdCTV8IJZRFRIziLiitF4MiaVSqHgaB36fL6gyCgyvArwEBij0EnfAUOc+Wc8blKpOgAKhYKIbUn1TV+6dGlR5FrFYlEUFvOBQKC5EKeeWW+XTCZNarNBsNE4xxgizFq5/JABkEw3fZLXe84ImhEASiq4SqsxMe3yzMDAgCn5oF398uUL/d1IiLb5gQiVVCpFLq7TGoiYj8fjJkB/+t6WyFIULRhycgYjAFZn7midiJjx+XyJUCikIyA6CuVymQRJGBEPyWvskiM7l6AoQDdHjeO16PV6p1t3kRSihJhmALZKsMaYKWQaAbCSm8a1EqnM2fGDnYFu/59eWAhWvd50yzm3HAoZK97nyGUTCe7s7BDahLou0xONjoibPp9PdhIt3Bpr7PdTMjnFAEgZCt1d1wcxL/l8Co80uWFwd3e3p1qtEkuLBIhhfFy8fPkyl3iOy+jmOHWis1aGvx5VxoqAOMtj/2YjSym8u7sbrFQqFDqExNgYKD8wMOCK6dsFqH7mxVlhfbgG/8xJXu+cKFQ6AqDZqFAokHEEhCgbUwcGBjqSpE6BoLNf41yKNPsjY6qnUpmOOlSIbSVDhUKBQg1pBSM/yLzQ6NSodtv9O5XKgFF5Im7VAKbbTYzaAoAW2sIPpO7qkaCbxjfBqsd9xOaxy1idcyuA2wag3d36vbf/EwDaoe3tbXKlHwHAUVylNJcxNn/t2jXX9/HH6Rn/SacVFN8Z8KY68CAm/haNbsKbN2+UWq2WdbMgSZIiV69edXUf72Y+Xp/FdNrqbtJyGg/iMGxvbwuvmh0scnNwcHDYQbvfrMnPmQw3ZXY0IaJKAHBTTkcDMMYGBwdPlEc6BCAPr1+/dpQBCgBRBwcHuyKARBvyczq9xwBEAs1yH+kWCt6+fRusVqtEZu0OUvR4PGNXrlzp6E7OqaeJ2v03nR6qMpZjhjKd7biIW1XGxuruS+Lm69evY9Vq1dH9usfj2Tx9+nSumxmglUGUIHkYU5Ax2zsBGkdibPPv0WidvE/0/NruUhca/AlAF0D+XU/Rtgds/PJLsCRJdOWsUPmLAcyMjo52VQxls9meb9++PQQAWgOF8Yzf75+PRCK2NQzjbjgGYGNj4/vTNkRT7R8Zi3QThOXlZdPtNW0GAMxOTk4Kr+55rugIgFdra9P4vRTOzRUQUR29caMremBpaSkoSZLplUjTOETMUXy/d++eozzFEoBXr16N1arVNNhfOedHRke7ciW2tLQ0JkmS6KHE0SbT1f2pU6dm7I4FF4DWc+6EwZCxxOjoqGWdzsk4Tts8evSI3N2JcKtf2ExOTgpfoZoAWF9fn2JUaHD+5X1+vzI8PNw2ATmfQt/y8ePHQ+TqbVzd71HmevfuXSrl6z4dAG0af8gApkdGRiyfxbk10q4fRYJSqUT1C25VmtP/wO/3h4xHQg/Ay5eWtcEjomEs4ff757q56yJAGt5AQNhd3bNarSYbyVEHwMu1Nd4j5lZiUf2I08M//MBNgDRN64HvFRsixD0Jcf6mLHekEZ4+fapUq9V60RMAVmq1GjfeLy8vkyag1yRW3BCZnJzUrcfREUDEouTxTF2/ft0ytOQ0jarHuuowIEbcgqCqKq86vKIoSoTnEY1jQTqFd3V/6Pf7g5ZHgAZdX1ubY7/erx1Saen6jRu2T9BeaBppBfNLLsT8LVnWhUjylIaSa5bT5vx+f0KWZR2RrqyscC9ryJUjkYhwMxpagcCr80N9AyVJsSXBVlTX19eHRkZGTKzJQ77h+rvAEUr0jG1MlnVp9urqKk/JzU9MTOhUpqqqohcie4qi2D6NJY8ol8tBnuFNOxwpQTtGzmtaq9fomyMu3pLlo8IpgVUqlbi/FxgfH9etR1VVyzdC4XC4Y+3RMQCapg1JFi+5aoghWZaPSPPZs2dCJWcEIJvNCttSEoSIprBmt1mukyHRwHlNo+sofghCTNySZd0utQMAzamqqvAFGmNsMRwOd1SW78gDXmgaFSS4NQUqUdMVlZHY2gUgm80GAUD0Ao1i+3AkEnHEVa6zQdHu5zRNqMkBMXpTlk0qsV0AGl5gCodHogwxpygK92G2k+Pg2gPymjbLRK/FOaGvuRg3ABCbN7yAK3IAIHrnzh1Xktw1ADlNExZUJET5r7LMjdNuACDwnjx5Qr8x5CZp9E5JURRXFSpXAPxP08ZqAPyc3BD2jG7oFoDGURDmKuFw2JUtrjpRLJcATLG8QXxDrWHvOAHIZrNDkiSZHk/TvIqiOKpsH1sY5IkfQJy5KcuWsrkTD2h4AY2ve712IhxAi3mhaVPIGMXhA2As4yTp6RSAFj6oz0u/O759+7brjNPVEXASXkRtLKTw4fj4uCs37mQ9XQeAFvv8+XPer0AS4+PjHWv7dsE4EQBokaurq2RsPU2m3wtMTEzYptztGuek/f8Bg5iQDIClMm4AAAAASUVORK5CYII=") no-repeat center;
    background-size: 100% 100%;
    -webkit-animation:rotate 1s linear infinite;
  }
}
#showModal{
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left:0;
  top:0;
  div.cBox{
    width:rem(600);
    height:auto;
    overflow: hidden;
    border-radius: rem(10);
    background: #fff;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: rem(-300);
    margin-top:rem(-200);
    h3{
      height:auto;
      overflow: hidden;
      font:rem(36)/rem(42) $f-yahei;
      color: #000;
      text-align: center;
      box-sizing: border-box;
      padding: 0 rem(40);
    }
    p{
      height:auto;
      overflow: hidden;
      font:rem(32)/rem(40) $f-yahei;
      color: #888888;
      box-sizing: border-box;
      padding: 0 rem(40);
    }
    div.btns{
      height:auto;
      overflow: hidden;
      border-top:1px solid #d5d5d6;
      display: flex;
      flex-direction: row;
      a{
        text-decoration: none;
        color: #888888;
        flex: 1;
        text-align: center;
        display: block;
        font:rem(32)/rem(80) $f-yahei;
        height:auto;
        overflow: hidden;
        &.succ{
          color: #43c330;
        }
      }
    }
  }
}
@-webkit-keyframes rotate {
  0%{-webkit-transform:rotate(0deg);}
  50%{-webkit-transform:rotate(180deg);}
  100%{-webkit-transform:rotate(360deg);}
}


